@model string

@if (Model == "Audi")
{
    <p>
        Audi AG (About this sound listen)) is a German
         automobile manufacturer that designs, engineers, 
        produces, markets and distributes luxury vehicles. 
        Audi is a member of the Volkswagen Group and has its
         roots at Ingolstadt, Bavaria, Germany. Audi-branded
         vehicles are produced in nine production facilities
         worldwide.
    </p>
}
else if (Model == "Mazda")
{
    <p>
        Mazda Motor Corporation (Japanese: マツダ株式会社 Hepburn: Matsuda Kabushiki-gaisha), commonly referred to as simply Mazda, is a Japanese multinational automaker based in Fuchū, Aki District, Hiroshima Prefecture, Japan.[4]
    </p>
}
else if (Model == "Dodge") {
    <p>
        Dodge is an American brand of cars, minivans, sport cars, sedans, super cars, muscle cars, and sport utility vehicles manufactured by FCA US LLC (formerly known as Chrysler Group LLC), based in Auburn Hills, Michigan. Dodge vehicles currently include the lower-priced badge variants of Chrysler-badged vehicles as well as performance cars, though for much of its existence Dodge was Chrysler's mid-priced brand above Plymouth.
    </p>
}