@using CarApp.Domain
@using CarApp.Services

@model Car
@{
    ViewBag.Title = "Create";
}

@{ 
    var carService = new CarService();
    List<Brand> brands = carService.GetAllBrands();
    List<BodyType> bodyTypes = carService.GetAllBodyTypes();

    List<SelectListItem> brandSelect = brands.Select(_ =>
        new SelectListItem { Text = _.Name, Value = _.Id.ToString() })
        .ToList();
    List<SelectListItem> bodyTypesSelect = bodyTypes.Select(_ =>
        new SelectListItem { Text = _.Name, Value = _.Id.ToString() })
        .ToList();
}

<h2>Create new Car</h2>

@Html.BeginForm("Create", "Car")
    <div class="container">
        <div class="form-group">
            <label>Model</label>
            @Html.TextBoxFor(_ => _.Model)
        </div>
        <div class="form-group">
            <label>Brand</label>
            @Html.ListBoxFor(_ => _.BrandId, brandSelect)
        </div>
        <div class="form-group">
            <label>Body type</label>
            @Html.ListBoxFor(_ => _.BodyTypeId, bodyTypesSelect)
        </div>
        <input type="submit" />
    </div>  
