@using CarApp.Domain
@using CarApp.Models;
@using CarApp.Services

@model CarBindingModel
@{
    ViewBag.Title = "Create";
}

@{ 
    var carService = new CarService();
    List<BrandViewModel> brands = carService.GetAllBrands();
    List<BodyTypeViewModel> bodyTypes = carService.GetAllBodyTypes();

    List<SelectListItem> brandSelect = brands.Select(_ =>
        new SelectListItem { Text = _.BrandName, Value = _.BrandNumber })
        .ToList();
    List<SelectListItem> bodyTypesSelect = bodyTypes.Select(_ =>
        new SelectListItem { Text = _.BodyTypeName, Value = _.BodyTypeNumber} )
        .ToList();
}

<h2>Create new Car</h2>

@Html.BeginForm("Create", "Car")
    <div class="container">
        <div class="form-group">
            <label>Model</label>
            @Html.TextBoxFor(_ => _.Model)
        </div>
        <div class="form-group">
            <label>Brand</label>
            @Html.ListBoxFor(_ => _.BrandNumber, brandSelect)
        </div>
        <div class="form-group">
            <label>Body type</label>
            @Html.ListBoxFor(_ => _.BodyTypeNumber, bodyTypesSelect)
        </div>
        <input type="submit" />
    </div>  
